* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App-header {
  width: 50vw;
  height: 20vh;
  margin: auto auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navLink {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navLink > li > a {
  text-decoration: none;
  cursor: pointer;
}
